@charset "UTF-8";

body,
div,
p,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.compare {
  position: relative;
}

.compare-content {
  position: absolute;
  width: 87%;
  bottom: 7%;
  left: 6.4%;
}

.comparison-block {
  width: 100%;
  max-width: 750px;
  position: relative;
  margin: 0 auto;
}

/**
  画像ドラッグ時の選択状態回避 START
**/
.comparison-block::-moz-selection {
  background-color: transparent;
}

.comparison-block::selection {
  background-color: transparent;
}

.comparison-block::-moz-selection {
  background-color: transparent;
}

.comparison-block *::-moz-selection {
  background-color: transparent;
}

.comparison-block *::selection {
  background-color: transparent;
}

.comparison-block *::-moz-selection {
  background-color: transparent;
}
/**
  画像ドラッグ時の選択状態回避 END
**/

.comparison-before-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  animation: slide-img 2s ease-in-out forwards;
}

.comparison-after-img {
  position: relative;
  z-index: 1;
}

.comparison-after-img img {
  width: 100%;
}

.comparison-arrow {
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 2px;
  height: 100%;
  left: 50%;
  cursor: pointer;
}

.comparison-arrow:after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: -14px;
}

.comparison-arrow.inview {
  animation: slide 2s ease-in-out forwards;
}

.compare-left {
  position: absolute;
    bottom: 32.3%;
    width: 12%;
    z-index: 5;
    left: 30%;
}

.compare-right {
  position: absolute;
  right: 30%;
  bottom: 32.3%;
  width: 12%;
  z-index: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0);
  }
}


.empty {
  margin-bottom: 1000px;
}


